.create-biz-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-biz-label{
    display: flex;
    flex-direction: column;
    width: 500px;
    line-height: 30px;
    margin-bottom: 15px;
}

.create-container{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.create-btn{
    cursor: pointer;
    padding: 12px;
    width: 150px;
    background-color: red;
    color: white;
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 5px;
    margin-left: 10px;
    font-size: 15px;
}

.cancel-btn{
    padding: 12px;
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 5px;
    cursor:pointer;
    color:rgb(19, 17, 17);
    font-size: 15px;
}

