.rec-reviews{
    font-size: larger;
    font-weight: 800;
    font-style: italic;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.review-list-container{
    padding-left: 40px;
}

.create-review-container{
    padding-left: 40px;
    margin-top: -80px
}