.biz-image-container{
    max-width: 900px;
    max-height: 400px;
}
.biz-image{
   width: 900px;
   height: 400px;
   padding-left: 20px;
   justify-content: center;
   align-items: center;
   display: flex;;
}

.biz-information-container{
    margin-top: 20px;
}

.biz-name{
    display:flex;
    letter-spacing: 1px;
    line-height: 50px;
}

.biz-desc{
    font-weight: 800;
}
.biz-desc-2{
    font-weight: 300;
    font-size: 14px
}

.biz-desc-container{
    box-sizing: border-box;
    border: 1px solid gainsboro;
    padding-left: 15px
}
.biz-location{
    padding-left: 10px;
}

.biz-location-container{
    box-sizing: border-box;
    border: 1px solid gainsboro;
    margin-bottom: 15px;
    margin-top: 15px;
    /* margin-left: 10px; */
}

.biz-address{
    padding-left: 10px;
}

.biz-city-state{
    padding-left: 10px;
}

.biz-hours-card-container{
    position:relative
}

.edit-biz-btn{
    cursor: pointer;
    padding: 12px;
    width: 150px;
    background-color: red;
    color: white;
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 5px;
    margin-left: 10px;
    font-size: 15px; 
    margin-bottom: 20px;
}

.delete-biz-btn{
    cursor: pointer;
    padding: 12px;
    width: 150px;
    background-color: red;
    color: white;
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 5px;
    margin-left: 10px;
    font-size: 15px; 
}

.map-n-hours{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin: 50px
}

.biz-hours{
    margin-left: 100px;
    padding: 10px;
}
