footer{
  background-color: #e7e5e595;
}

.footer-title{
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 15px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  padding: 2px;
  margin: 2px;
  display: flex;
  align-items: center;
}

a{
  margin: 10px;
}

.footer-list{
  display: flex;
  justify-content: space-around;
}

.henry-box{
  padding: 10px

}
