.search-bar{
    width: 250px;
    height: 50px;
    padding: 0px 10px;
    overflow:auto;
    cursor: text;
    box-shadow: 0 0 10px rgba(142, 142, 142, 0.5);
    font-size: 16px;
    font-weight: 200;
    border: none;
}

.search-bar-container{
    display: flex;
    margin-right: 500px;
}

.search-bar-button{
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(207, 49, 49);
    color: rgb(255, 255, 255);
    border-radius: 10%;
    width: 60px;
    height: 51px;
    border: none;
    cursor: pointer;
}

.search-entry:hover{
    background-color: red;
}

.search-list{
    position: absolute;
    background-color: rgb(201, 198, 198);   
    width: 270px;
}

