.profile-pic{
    width: 80px;
    height: 70px;
    border-radius: 100%;
    padding: 15px
}

.review-border{
    box-sizing: border-box;
    border-bottom: .5px solid gainsboro;
    border-radius: 5px;
    max-width: 500px;
}

.review-username{
    font-size: 20px;
    font-weight: 500;
    padding-left:100px;
    margin-top: -70px;
}

.review-review{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-left: 20px;
}

.review-created-at{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 20px;
    font-style: italic;
}
.stars-container{
    padding-left:20px;
    margin-top:50px;
    margin-bottom: 15px;
}

.edit-del-btn{
    margin-top:15px;
    margin-bottom:15px;
    padding-left: 20px;
}

.edit-review-button{
    cursor: pointer;
    width: 150x;
    height: 20px;
    border: none;
    background-color: red;
    border-radius: 5px;
    color: white;
    margin-right: 20px
}

.delete-review-button{
    cursor: pointer;
    width: 150x;
    height: 20px;
    border: none;
    margin-top: 20px;
    background-color: red;
    border-radius: 5px;
    color: white;
    margin-right: 20px
}