.signup-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    max-width: 260px;
}

.signup-form-container {
    display: flex;
    margin-top:100px;
    padding: 10px;
    justify-content: center;
}

.signup-input {
    width: 250px;
    height: 25px;
    margin: 4px;
    border: 1px solid #bababa;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

.signup-header {
    color: red;
    font-size: 20px;
    margin-left:-10px;
}

.login-container{
    display: flex;
    align-items: center;
}

.login-link {
    font-size: 15px;
    font-weight: 600;
    margin-left:-10px;
    margin-top:-20px;
}

.login-btn {
    font-size: 15px;
    font-weight: 600;
    margin-top:-24px;
    margin-left: 5px;
    color: rgb(97, 138, 241);
}

.signup-button {
    cursor: pointer;
    width: 260px;
    height: 40px;
    border: none;
    margin-top: 20px;
    background-color: red;
    border-radius: 5px;
    color: white;
}

.error-container{
    margin-top: 15px;
    color: red;
    font-weight: 400;
    padding: 5px;
}